{% include "header.html" %}
{% extends "base_test.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Cadastrar Evento Ativo </h2>
    <form method="POST" action="{{ url_for('limite_credito.atualizar_emissor_evento', evento_id=form.evento_id.data) }}">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            <label for="cnpj" class="form-label"> Emissor </label>
            {{ form.cnpj(class="form-control", id="cnpj") }}
            {% if form.cnpj.errors %}
                <div class="text-danger">
                    {% for error in form.cnpj.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="rating" class="form-label">Rating</label>
            {{ form.rating(class="form-control", id="rating") }}
            {% for error in form.rating.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="data_aprovacao" class="form-label">Data de Aprovação</label>
            {{ form.data_aprovacao(class="form-control", id="data_aprovacao", type="date") }}
            {% for error in form.data_aprovacao.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="data_vencimento" class="form-label">Data de Vencimento</label>
            {{ form.data_vencimento(class="form-control", id="data_vencimento", type="date") }}
            {% for error in form.data_vencimento.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="tipo_comite" class="form-label">Comitê</label>
            {{ form.tipo_comite(class="form-control", id="tipo_comite") }}
            {% for error in form.tipo_comite.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="tipo_oferta" class="form-label">Tipo de Oferta</label>
            {{ form.tipo_oferta(class="form-control", id="tipo_oferta") }}
            {% for error in form.tipo_oferta.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

         <div class="mb-3">
            <label for="coordenador_lider" class="form-label"> Coordernador Líder</label>
            {{ form.coordenador_lider(class="form-control", id="coordenador_lider") }}
            {% for error in form.coordenador_lider.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="ic_coordenador_unico" class="form-label">Coordenador Único</label>
            {{ form.ic_coordenador_unico(class="form-check-input", id="ic_coordenador_unico") }}
        </div>

        <div class="mb-3">
            <label for="descricao_evento" class="form-label">Descrição do Evento</label>
            {{ form.descricao_evento(class="form-control", id="descricao_evento") }}
            {% for error in form.descricao_evento.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="vl_percentual_divida" class="form-label"> Percentual Dívida</label>
            {{ form.vl_percentual_divida(class="form-control", id="vl_percentual_divida") }}
            {% for error in form.vl_percentual_divida.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="vl_percentual_divida_pl" class="form-label">Percentual Dívida PL </label>
            {{ form.vl_percentual_divida_pl(class="form-control", id="vl_percentual_divida_pl") }}
            {% for error in form.vl_percentual_divida_pl.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>


        <div class="mb-3">
            <label for="cd_status_esg" class="form-label">Status ESG</label>
            {{ form.cd_status_esg(class="form-control", id="cd_status_esg") }}
            {% for error in form.cd_status_esg.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="cd_classificacao_esg" class="form-label">Classificação ESG</label>
            {{ form.cd_classificacao_esg(class="form-control", id="cd_classificacao_esg") }}
            {% for error in form.cd_classificacao_esg.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="detalhamento_evento" class="form-label">Detalhamento</label>
            {{ form.detalhamento_evento(class="form-control", id="detalhamento_evento") }}
            {% for error in form.detalhamento_evento.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="link_ata" class="form-label">Link da Ata</label>
            {{ form.link_ata(class="form-control", id="link_ata") }}
            {% for error in form.link_ata.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    </form>
</div>
{% endblock %}