<div class="container mt-5">
    <h2>Listar Estruturados</h2>
    <a href="{{ url_for('cadastrar_estruturados') }}" class="btn btn-primary mb-3">Cadastrar Novo Estruturado</a>
    <table class="table">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Classe</th>
                <th>CNPJ</th>
                <th>Indexador</th>
                <th>Vencimento</th>
                <th>Duration</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for estruturado in estruturados %}
                <tr>
                    <td>{{ estruturado.ticker }}</td>
                    <td>{{ estruturado.classe }}</td>
                    <td>{{ estruturado.cnpj }}</td>
                    <td>{{ estruturado.indexador }}</td>
                    <td>{{ estruturado.vencimento }}</td>
                    <td>{{ estruturado.duration }}</td>
                    <td>
                        <a href="{{ url_for('atualizar_estruturados', ticker=estruturado.ticker) }}" class="btn btn-warning btn-sm">Editar</a>
                        <form action="{{ url_for('excluir_estruturados', ticker=estruturado.ticker) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>